
.a,
a {
    color: black !important;
    line-height: 3em;
    text-transform: uppercase;
    font-size: 16px;
}
.a:hover,
a:hover {
    text-decoration: none;
    color: black !important;
}

h3 {
    color: black !important;
}

p {
    color: black !important;
}
.container,
container {
    max-width: 800px;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    line-height: 2em;
    color: #333;
    background-color: #fff;
}

.table,
table {
    background-color: transparent;
    text-align: justify;
    width: 100%;
    margin-bottom: 50px;

}

td,
th {
    padding-bottom: 25px;
    font-size: 16px;
}

.myContainer {
    background: lightgrey;
    border: 1px solid #dfdfdf;
    margin-top: 20px;
    border-top: 5px solid #fa046d;
}

.myFooter {
    font-size: 15px;
    background: lightgrey;
    text-align: center;
    color: white;
    padding-top: 10px;
}
