
.a,
a {
    color: black !important;
    line-height: 3em;
    text-transform: uppercase;
    font-size: 16px;
}
.a:hover,
a:hover {
    text-decoration: none;
    color: black !important;
}

h3 {
    color: black !important;
}

p {
    color: black !important;
}
.container,
container {
    max-width: 800px;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    line-height: 2em;
    color: #333;
    background-color: #fff;
}

.table,
table {
    background-color: transparent;
    text-align: justify;
    width: 100%;
    margin-bottom: 50px;

}

td,
th {
    padding-bottom: 25px;
    font-size: 16px;
}

.topheadbar {
    margin-top: 20px;
    margin-bottom: 40px;
    background: #ffffff;
    border: 1px solid #d5d5d5;
    width: auto;
    height: 50px;
    border-radius: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black !important;
}

.contactbutton {
    font-size: 15px;
    font-weight: bold;
    float: right;
    color: black !important;
    line-height: 1.8em;
    border: 1px solid #bbbbbb;
    padding: 0 8px;
    border-radius: 7px;
}
